@import url('https://fonts.googleapis.com/css2?family=poppins&display=swap');
body {
    font-family:"Poppins", sans-serif;
    background-color: white;
    width: 100vw;
    text-align: center;
    padding-top : 5vh;
}
.align{
    display:flex;
    justify-content: center;
    align-items: center;
}
section {
    text-align: center;
    border-radius: 10px;
    width: 500px;
    margin: center;
    background-color: #fff ;
    margin-top: 75px;
    box-shadow: 0px 10px 36px 16px rgba(0,0,0,0,1);
}
.turn-container{
    width: 170px;
    height: 80px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(1fr,1fr);
    grid-template-rows: repeat(1fr,1fr);
    position: relative;
}
.turn-container h3{
    grid-column-start: 1;
    grid-column-end: 3;
}
.turn-container .turn-box{
    border: 3px solid #000;
    font-size:1.6rem;
    font-weight:700 ;
}
.turn-container .turn-box:nth-child(even){
    border-right: none;
}
.bg{
    position:absolute;
    bottom: -11px;;
    left: 0;
    width: 85px;
    height: 32px;
    background-color: darkred;
    z-index: -2;

}
.main-grid {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    height: 250px ;
    width:250px;
    margin: 30px auto;
    border: 2px solid #000;
}
.box{
    cursor: pointer;
    font-size: 2rem;
    font-weight: 700;
    border: 2px solid black;
}
.box:hover{
    background-color:#ff0000 ; 
}
#play-again{
    text-align: center;
    background-color: rgb(0, 0, 0);
    border: none;
    width: 150px;
    height: 30px;
    font-size: 1.2rem;
    border-radius: 10px;
    cursor:pointer;
    
}
#play-again:hover{
    background-color: rgb(255, 12, 12);
    transition: 500ms;
    height: 50px;
    color: white;
    cursor: pointer;
}
button {
    margin-bottom: 20px;
    height: 30px;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: aqua;
    cursor: pointer;;
}